<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rémi Caulier">
    <meta name="description" content="Rémi Caulier's portfolio. Passionate about computer science and cybersecurity">

    <link href="{{url_for('static', filename='assets/favicon-light.png')}}" rel="icon" media="(prefers-color-scheme: light)" />
    <link href="{{url_for('static', filename='assets/favicon-dark.png')}}" rel="icon" media="(prefers-color-scheme: dark)" />


    <link rel="stylesheet" href="{{url_for('static', filename='css/anims.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    {% block head %}

    {% endblock %}

</head>

<body>

    <header>

    </header>

    <main>
        {% block main %}

        {% endblock %}
    </main>

    <footer>

    </footer>

    {% block script %}
    {% endblock %}
</body>

</html>